# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env


*.sqlite

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


saved_models/

# VS Code settings
.vscode/

# Byte cache
*.cache
